<div class="pager col-xs-1" align="center" *ngIf="pageData$ | async as pageData">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'active' : link['active'], 'disabled' : link['url'] === null}" *ngFor="let link of pageData['links']">
            <a class="page-link" href="javascript: void(0);"
                (click)="navigate(link['url'])">{{updateLabel(link['label'])}}</a>
        </li>
    </ul>
    <p class="articles-total">Total articles: {{pageData['total']}}</p>
</div>