<form class="article-form" (ngSubmit)="newArticle ? onSubmitNew(articleForm) : onSubmit(articleForm)" #articleForm="ngForm">

    <div class="form-group" *ngIf="newArticle !== true">
        <label for="id">id: </label>
        <label>{{model.id}}</label>
    </div>

    <div class="form-group">
        <label for="title">title: </label>
        <input type="text" class="form-control title-field input-field" autocomplete="off" id="title-field" required [(ngModel)]="model.title" name="title">
    </div>

    <div class="form-group">
        <label for="content">content: </label>
        <textarea class="form-control content-field input-field" autocomplete="off" id="content-field" required [(ngModel)]="model.content" name="content"></textarea>
    </div>

    <button type="submit" class="btn-sm btn-primary mt-auto btn-submit"
    [disabled]="!articleForm.form.valid">Submit</button>

    <button class="btn-sm btn-primary mt-auto btn-cancel" (click)="onCancel()" *ngIf="newArticle !== true">Cancel</button>

</form>